extends layout
block content
    p
    h4
        a(href='/topenroll' style="color:orange") Click here to see top 10 Enrolled colleges
          
    h2 Below are a list of colleges:
    table.table.table-striped
        each college in colleges
            tr
                td
                    a(href='/colleges/#{college._id}') #{college.INSTNM}