extends layout

block content
    table.table.table-bordered.text-center
        tr
            each val, key in college
                td= key
        tr
            each val, key in college
                td= val