extends layout

block content
    table.table.table-bordered.text-center
        tr
            each val, key in college
                td= key
        tr
            each val, key in college
                td= val
    p
        strong Gender Distribution Pie Chart
    #chart
    script(src='/js/visuals.js')
