nav.navbar.navbar-default
    .container
        .navbar-header
            a.navbar-brand(href='/')
                | College Records
        ul.nav.navbar-nav
            li
                a(href='/upload') Upload
            li
                a(href='/colleges') Colleges
            li
                a(href='/topenroll') Top 10
