doctype html
html
  head
    meta(charset='utf-8')
    |   
    title QUnit test for Project
    |   
    link(rel='stylesheet', href='//code.jquery.com/qunit/qunit-1.18.0.css')
  body
    #qunit
       
    #qunit-fixture
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')   
    script(src="//code.jquery.com/qunit/qunit-1.18.0.js")
     
    script(data-main='/test/test.js' src='/js/require.js')
     
    
   
